# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary and coverage
*.test
web/frontend/photostorage/coverage

# Local onfiguration file
app.env
.DS_store

# Temp files and dirs
tmp
/photos
/photos/*
/main
/photostorage
/business-model.md

# Built binaries
./main
./photostorage
web/frontend/photostorage/build
web/frontend/photostorage/.pnp
web/frontend/photostorage.pnp.js

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
web/frontend/photostorage/node_modules

# Log files
web/frontend/photostorage/npm-debug.log*
web/frontend/photostorage/yarn-debug.log*
web/frontend/photostorage/yarn-error.log*


# Go workspace file
go.work

